body {
	cursor: default;
	background: url('crosshash.jpg');
	overflow-y: scroll;
}

h1 {
	margin-bottom: .5em;
}

.gwaap_status_table td {
	padding: 1em;
	text-align: center;
	vertical-align: top;
}

.gwaap_application_statusbar {
	margin-bottom:0;
}

.gwaap_bold_cell {
	font-weight: bold;
}

.gwaap_content_shadow {
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
	width: 980px;
	background: white;
	padding: 1em;
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	padding-bottom: 30px; /* A little room at the bottom */
}

.gwaap_message_div {
	margin-left: auto;
	margin-right: auto;
}

.gwaap_outer_messages {
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.5em;
}

.gwaap_reference_table td, .gwaap_reference_table th {
	text-align:center;
	vertical-align: middle;
}

.gwaap_application_detail_table td, .gwaap_application_detail_table th {
	vertical-align: middle;
	text-align: center;
	/*margin-top: 2em;
	margin-bottom: 2em;*/
}

.gwaap_application_detail_table .complete, .gwaap_application_detail_table .complete:hover {
	background-color: green;
}

.gwaap_application_detail_table .incomplete {
	background-color: red;
}

.gwaap_application_detail_table .pending {
	background-color: #F89406;
}