{% extends 'applicant_templates/applicant_section_template.html' %}
{% block title %}Applicant Login{% endblock %}

{% block content %}
<div class="span6 offset3">
<h1>Applicant Login</h1>
<form class="well" action="#" method="POST">
	{% csrf_token %}
	<input type="text" name="username" class="span3" placeholder="Username" /><br />
	<input type="password" name="password" class="span3" placeholder="Password" /><br />
	<button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
{% endblock %}

{% block comments %}
Applicant Login
{% endblock %}