{# Application View #}
<div class="row span10 offset1">
<table class="table gwaap_application_detail_table">
	<colgroup>
		<col class="span4">
		<col class="span2">
		<col class="span4">
	</colgroup>
	<thead>
		<tr style="background-color: silver">
			<th></th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Online Application</td>
			<td style="background-color:green"><i class="icon-ok icon-white"></i></td>
			<td><a class="btn disabled">None</a></td>
		</tr>
		<tr>
			<td>Transcripts</td>
			<td style="background-color:red"><i class="icon-remove icon-white"></i></td>
			<td><a class="btn">Fill out</a></td>
		</tr>
		<tr>
			<td>GRE Scores</td>
			<td style="background-color: #F89406"><i class="icon-time icon-white"></i></td>
			<td><a class="btn">Action</a></td>
		</tr>
		<tr>
			<td>TOEFL Scores</td>
			<td style="background-color:green"><i class="icon-ok icon-white"></i></td>
			<td><a class="btn">Action</a></td>
		</tr>
		<tr>
			<td>Recommendations</td>
			<td style="background-color:green"><i class="icon-ok icon-white"></i></td>
			<td><a class="btn">Take Action</a></td>
		</tr>
		<tr>
			<td>Resume</td>
			<td style="background-color:red"><i class="icon-remove icon-white"></i></td>
			<td><a class="btn">Take Action</a></td>
		</tr>
		<tr>
			<td>Letter of Intent</td>
			<td style="background-color:green"><i class="icon-ok icon-white"></i></td>
			<td><a class="btn">Take Action</a></td>
		</tr>
	</tbody>
</table>
</div>