{# Applicant Display Table #}
{# Requires that the QuerySet passed to the template be named 'applicant_list' #}

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Last Name</th>
			<th>First Name</th>
			<th>Username</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for applicant in applicant_list %}
			<tr>
				<td>{{ applicant.last_name }}</td>
				<td>{{ applicant.first_name }}</td>
				<td>{{ applicant.username }}</td>
				<td>NYI</td>
				<td>
					<a class="btn btn-primary btn-mini" href="/user/view_applicant/{{ applicant.pk }}/">Details</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
