{# Application View #}
<div class="row span10 offset1">
<table class="table gwaap_application_detail_table">
	<colgroup>
		<col class="span4">
		<col class="span1">
		<col class="span5">
	</colgroup>
	<thead>
		<tr style="background-color: silver">
			<th></th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong>Online Application</strong></td>
			{{ online_application_status|safe }}
			<td>{{ online_application_actions|safe }}</td>
		</tr>
		<tr>
			<td><strong>Transcripts</strong></td>
			{{ transcripts_status|safe }}
			<td>{{ transcripts_actions|safe }}</td>
		</tr>
		<tr>
			<td><strong>GRE Scores</strong></td>
			{{ gre_scores_status|safe }}
			<td>{{ gre_scores_actions|safe }}</td>
		</tr>
		<tr>
			<td><strong>TOEFL Scores</strong></td>
			{{ toefl_scores_status|safe }}
			<td>{{ toefl_scores_actions|safe }}</td>
		</tr>
		<tr>
			<td><strong>References</strong></td>
			{{ references_status|safe }}
			<td>{{ references_actions|safe }}</td>
		</tr>
		<tr>
			<td><strong>Resume</strong></td>
			{{ resume_status|safe }}
			<td>{{ resume_actions|safe }}</td>
		</tr>
		<tr>
			<td><strong>Letter of Intent</strong></td>
			{{ letter_status|safe }}
			<td>{{ letter_actions|safe }}</td>
		</tr>
	</tbody>
</table>
</div>