{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}GWAAP{% endblock %}</title>
<link href="{% get_static_prefix %}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{% get_static_prefix %}gwaap_style.css" rel="stylesheet" type="text/css" />
<script src="{% get_static_prefix %}jquery-1.7.1.min.js"></script>
<script src="{% get_static_prefix %}bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand pull-right" href="{% block home_link %}/{% endblock %}">GWAAP</a>
			<ul class="nav">
				{% block navbar %}{% endblock %}
			</ul>
			{% block navbar_extra %}{% endblock %}
			<ul class="nav pull-right">
				{% if user.is_authenticated %}
					<li class="divider-vertical"></li>
					<li><a><i class="icon-user icon-white"></i> <strong>{{ user.username }}</strong></a></li>
					<li><a href='/logout/'>Logout</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
<div class="container gwaap_content_shadow">
	{% block content %}CONTENT{% endblock %}
</div>

{% if messages %}
<div class="gwaap_outer_messages">
<div class="container">
	<div class="row span6 offset3">
    {% for message in messages %}
		<div class="alert fade-in {% ifequal message.tags 'error' %}alert-error{% else %}{% ifequal message.tags 'success' %}alert-success{% else %}alert-info{% endifequal %}{% endifequal %}">
			<a class="close" data-dismiss="alert" href="#"><i class="icon-remove"></i></a>
			{{ message }}
		</div>
    {% endfor %}
	</div>
</div>
</div>
{% endif %}
<!--
{% block comments %}{% endblock %}
-->
<script>
$(document).ready(function() {
	$(".alert").alert();
	{{ extra_onready_js|safe }}
});
$(function () {
	{{ extra_onready_js|safe }}
});
</script>
<body>
</html>